{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background
            context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off
            to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">건희의 먹트폴리오</h1>
      <p class="lead text-muted">엥겔지수 극상인 건희가 먹고싶은 것을 알아보자.</p>
    </div>
    <!-- <a href="{%url 'new'%}">dtd</a> -->
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        {% for blog in blogs.all %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{ blog.image.url }}" alt=" Card image cap">
            <div class="card-body">
              <h4>{{ blog.title }}</h4>
              <p class="card-text">{{ blog.description }}</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>


{% endblock %}